_{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-image: url("images.jpg");
  background-size: 100%;
  width: 400px;
  height: 100px;
}

div.login{
  width: 900px;
  margin: 100px 100px 150px 500px;
}

h2{
  font-style: oblique;
}

h3{
  font-style: italic;
}

label{
  font-style: italic;
}

label#name{
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
}



